@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #ededed;
}

.home h1 {
    font-family: 'Poppins', 'sans-serif';
    overflow: hidden; 
    border-right: .15em solid #ededed; 
    white-space: nowrap; 
    margin: 0 auto; 
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #ededed; }
  }

dl {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s; 
}

dd {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#parapo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 600px;
}

img {
    width: 300px;
}

.logo {
    font-size: 15px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #9EE1E2;
}

section {
    padding: 100px 10%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.link {
    color: #9EE1E2;
}

.home {
    background: url('https://i.postimg.cc/c4Wp7N9C/Untitled-design-3.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #13787B ;
}

.home-content p {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
}

.about, .education, .experience, .skills, .projects, .contact {
    background: #203435; 
}

.home-content, .about-content, .education-content, .experience-content, .skills-content, .projects-content, .contact-content {
    max-width: 600px;
}

.about-content h1, .education-content h1, .experience-content h1, .skills-content h1, .projects-content h1, .contact-content h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #9EE1E2;
}

.home-content, .about-content p, .education-content p, .experience-content p, .skills-content p, .projects-content p, .contact-content p {
    font-size: 18px;
    line-height: 1.6;
}
